.app {
    text-align: center;
}

.app-header {
    background-color: #173f5f52;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.title {
    text-shadow: 0px 1px 5px white;
}

.label {
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
}

.list {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.movie {
    margin: 10px;
    background-color: #3caea3ce;
    border: 5px solid white;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    cursor: pointer;

    -webkit-box-shadow: 0 10px 30px -6px rgb(255, 255, 255);
    -moz-box-shadow: 0 10px 30px -6px rgb(255, 255, 255);
    box-shadow: 0 10px 30px -6px rgb(255, 255, 255);

    transition: all 0.2s ease-in-out;
}

.movie:hover {
    transform: scale(1.1);
}

.list-item {
    display: flex;
    align-items: center;
    align-content: space-between;
    margin-top: 10px;
}

.list-item p {
    padding-left: 10px;
    font-size: 16pt;
    color: white;
    text-shadow: 0px 1px 1px #000;
    font-weight: bold;
}

.profile-picture {
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
}
